# تجاهل قاعدة البيانات المحلية
db.sqlite3

# تجاهل الملفات المؤقتة للبايثون
__pycache__/
*.py[cod]
*$py.class

# تجاهل البيئة الافتراضية (إن وجدت)
venv/
env/
.env
venv11/
dis/

# تجاهل ملفات الميديا التجريبية (نرفع المجلد فارغاً)
media/

# تجاهل ملفات النظام
.DS_Store