<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  

  <form action="#" method="post">
    {% csrf_token %}
    <input type="text" name="name" placeholder="Name">
    <input type="email" name="email" placeholder="Email">
    <input type="phone" name="phone" placeholder="Phone">
    <input type="address" name="address" placeholder="Address">
    <input type="city" name="city" placeholder="City">
    <input type="state" name="state" placeholder="State">
    <input type="zip" name="zip" placeholder="Zip">
    <input type="country" name="country" placeholder="Country">
    <button id="test-button" type="submit">submit</button>
    
  </form>
heelow 
<script>
 
  !function(w,d,t,u,k){
    var f=d.getElementsByTagName(t)[0],j=d.createElement(t);
    j.async=true; j.src=u+'?id='+k; f.parentNode.insertBefore(j,f);
  }(window,document,'script','http://127.0.0.1:8000/discount/marketing/tracker.js','rNOiKd6J91oMiTdzPaQY8dn_m6ecnCOKAvZlQTZyhg0');
  </script>
</body>
</html>